<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--<add key="connect" value="Server=INDU-1FBC6A455B;uid=sa;password=sa;database=indu"/>-->
    <add key="connect" value="Server=SoorajDev\SQLEXPRESS;database=indu"/>
    
  </appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
